<div class="tree-row">
    <div class="disclose fa fa-fw" ng-class="{'fa-caret-right': collapsed, 'fa-caret-down': !collapsed, 'd-none': !model.items.length}" ng-click="toggle(this);saveState(this)"></div>
    <div typi-btn-delete action="deleteFromNested(this)"></div>
    <a class="btn btn-light btn-xs" href="pages/{{ model.id }}/edit" translate>Edit</a>
    <div typi-btn-status action="toggleStatus(model)" model="model" locale="TypiCMS.content_locale"></div>
    <div ng-if="model.private" class="fa fa-lock"></div>
    <div class="title" ui-tree-handle>{{ model.title_translated }}</div>
    <div ng-if="model.redirect" class="fa fa-level-down text-muted" title="Redirect to first child"></div>
    <div class="badge badge-secondary" href="{{ model.module }}" ng-if="model.module">{{ model.module }}</div>
</div>
<ul ui-tree-nodes="" ng-class="{'d-none': collapsed}" ng-model="model.items">
    <li ng-repeat="model in model.items" ui-tree-node collapsed="treeOptions.collapsed(this)" ng-include="'/views/partials/listItemPage.html'"></li>
</ul>
